{% extends "admin/base_site.html" %}
{% block content %}
<h1>Choix d'une plage horaire</h1>
<div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
{% if locals.peb %}
    <h2 class="display-4">Demande de PEB pour <b>{{ locals.lecteur.full_name }}</b> à la <b>{{ locals.library.name }}:</b></h2>
{% else %}
    <h2 class="display-4"><b>{{ locals.lecteur.full_name }}</b> a {{ locals.user_requests_list|length }} document(s) réservé(s) pour la <b>{{ locals.library.name }}:</b></h2>
{% endif %}
</div>
<div class="container">
    <div class="content-accordion">
        <div class="accordion" id="accordionExample">
        {% if not locals.peb %}
            <div class="card shopping-cart">
                <div class="card-header" id="headingOne">
                    <a class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2 class="mb-0">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Vérifiez le panier :
                        <i class="pull-right fa fa-plus"></i>
                        </h2>
                    </a>
                    
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                    {% include './panier_admin.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="card apointment-list">
                <div class="card-header" id="headingTwo">
                
                    
                    <h2 class="mb-0">
                    Chosissez le créneau de retrait des documents : 
                    </h2>
                    </a>
                
                </div>
                <div >
                <div class="card-body">
                {% if locals.peb %}
                    {% include './resa_admin_peb.html' %}
                {% else %}
                    {% include './resa_admin.html' %}
                {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}