<table class="table table-striped">
    <thead>
        <tr>
            {% for day in resas.list_days %}
            <th scope="col">{{ day|date:"D d M Y" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for hours in list_hours %}
        <tr>
            {% for hour in hours  %}
                {% if hour == "-" %}
            <td>{{ hour }}</td>
                {% else %}
            <td>
                <form name="form_submit_rdv" action="{% url 'rdv' pickup_loc_id user_id hour %}" onclick="return confirm('Retirer votre commande le {{ hour|date:"D d M Y" }} à {{ hour|time:"H:i" }} ?');" method="post" class="form">
                    <button type="submit" id="button_submit_rdv"class="btn btn-success btn-xs">{{ hour|time:"H:i" }}</button>
                </form>                                    
                <!-- <a class="btn btn-success btn-xs" href="{% url 'rdv' pickup_loc user_id hour %}">
                {{ hour|time:"H:i" }}
                </a> -->
            </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>