{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load common_utils %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{# {% block breadcrumbs %}{% endblock %} #}

{% block content %}
<div id="content-main">
  {% if app_list %}
  <div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  {% if request.user|has_group:"Opérateur des réservations"%}
  <h1 class="display-3">Clic et Collecte<h1>
    <h2 class="display-4">Liste des rendez-vous par bibliothèque de retrait des documents</h2>
      <div class="list-group">
      {% if not user.staff.library %}
      {% get_library_list as all_library_list %}
          
            {% for library in all_library_list %}
              {% get_library_url library.id_alma as library_url %}
              <a class="list-group-item list-group-item-action" href="{{ library_url }}" title=""><span class="glyphicon glyphicon-education"></span>{{ library.name }}</a>
            {% endfor %}
      {% else %}
        {% get_library_url user.staff.library.id_alma as library_url %}
        <a class="list-group-item list-group-item-action" href="{{ library_url }}" title=""><span class="glyphicon glyphicon-education"></span>{{ user.staff.library.name }}</a>    
      {% endif %}
      </div>
    <h2 class="display-4">Autres accès</h2>
       <div class="list-group">
            <a class="list-group-item list-group-item-action" href="{% url 'admin:cart_management_person_changelist' %}" title=""><span class="glyphicon glyphicon-user"></span> Rechercher un lecteur</a>
            <a class="list-group-item list-group-item-action" href="{% url 'admin:cart_management_items_changelist' %}" title=""><span class="glyphicon glyphicon-book"></span> Rechercher une réservation</a>
      </div>
  {% endif %}
  {% if request.user|has_group:"SUDOC"%}
  <h1 class="display-3">Outils du SCOOP<h1>
    <h2 class="display-4">Analyses de recouvrements SUDOC </h2>
      <div class="list-group">
          <a class="list-group-item list-group-item-action" href="{% url 'admin:sudoc_process_changelist' %}" title=""><span class="glyphicon glyphicon-cog"></span>Voir ou exécuter une Analyse</a>
          <a class="list-group-item list-group-item-action" href="{% url 'admin:sudoc_error_changelist' %}" title=""><span class="glyphicon glyphicon-alert"></span>Consulter les anomalies</a>
          <a class="list-group-item list-group-item-action" href="{% url 'admin:sudoc_library_changelist' %}" title=""><span class="glyphicon glyphicon-education"></span>Déclarer les localisations et RCR du réseau</a>

    </div>
    <h2 class="display-4">Traitement en masse des exemplaires</h2>
      <div class="list-group">
          <a class="list-group-item list-group-item-action" href="{% url 'admin:alma_processupdateitem_changelist' %}" title=""><span class="glyphicon glyphicon-cog"></span>Voir ou exécuter un traitement en masse des exemplaires</a>
    </div>
{% endif %}
  {# block superadmin#}
  {% if user.is_superuser %}
   <h1 class="display-3">Accès administrateur<h1>
    {% for app in app_list %}
      <h3 class="display-5">{{ app.name }}</h3>
        <div class="list-group">
        {% for model in app.models %}
            <a class="list-group-item list-group-item-action" href="{% if model.admin_url %}{{ model.admin_url }}{% else %}#{% endif %}" title="{{ app.name }} &raquo; {{ model.name }}" {% if not model.admin_url %}class="disabled"{% endif %}>{{ model.name }}</a>
        {% endfor %}
        </div>
    {% endfor %}
  {% endif %}
</div>
  {% else %}
    <p>{% trans "Vous ne pouvez rien éditer." %}</p>
  {% endif %}
</div>
{% endblock %}

{% block js %}
  <script src="{% static "bootstrap_admin/js/dashboard.js" %}"></script>
{% endblock js %}
