body {
    background: #e0e0e0;
  }
  
  .content-accordion {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
    padding: 30px;
  }
  .accordion .card {
    border-radius: 0;
    box-shadow: none;
    
  }
  .accordion .card .card-header {
    padding: 0;
  }
  .accordion .card .card-header a{
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
 }

 .accordion .card .card-header a:hover {
    background: #fff;
    transition: 0.15s all ease-in-out;
  }

  .accordion .card .card-header a:not(.collapsed) i.fa-plus:before {
    content: "\f068";
  }
  
/*  .panel-group {
    margin-bottom: 0;
  }
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
  }
  .panel-group .panel .panel-heading {
    padding: 0;
  }
  .panel-group .panel .panel-heading h4 a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
  }
  .panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
  }
  .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "";
  }
  .panel-group .panel .panel-heading h4 a i {
    color: #999;
  }
  .panel-group .panel .panel-body {
    padding-top: 0;
  }
  .panel-group .panel .panel-heading + .panel-collapse > .list-group,
  .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
  }
  .panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
  } */
/* body {
    background: #e0e0e0;
  }
  
  .content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
    padding: 30px;
  }
  
  .accordion {
    margin-bottom: 0;
  }
  .accordion .card {
    border-radius: 0;
    box-shadow: none;
    
  }
  .accordion .card card-header {
    padding: 0;
  }
  .accordion .card .card-header a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
  }
  .accordion .card .card-header a:hover, .accordion .card .card-header a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
  }
  .accordion .card .card-header a:not(.collapsed) i.fa-plus:before {
    content: "";
  }
  .accordion .card .card-header a h2 i {
    color: #999;
  }
  .accordion .card .card-body {
    padding-top: 0;
  }
  .accordion .card card-header + .panel-collapse > .list-group,
  .accordion .card card-header + .panel-collapse > .panel-body {
    border-top: none;
  }
  .accordion .card + .card {
    border-top: none;
    margin-top: 0;
  } */