.sidebar-menu .nav-sidebar-other {
    margin-right: -21px;
    margin-left: -20px;
    transition: all .3s ease-in-out;
}
.sidebar-menu .nav-sidebar-other a {
    border-left: 2px solid #393939;
    color: #fff;
    height: 43px;
    padding: 12px 5px 12px 20px;
        padding-left: 20px;
    transition: border 0.4s ease-in-out 0s, color 0.3s ease-in-out 0s, background-color 0.4s ease-in-out 0s;
}
.sidebar-menu .nav-sidebar-other a.section {
    padding-left: 5px;
    text-transform: uppercase;
}
.sidebar-menu .nav-sidebar-other a:hover {
    background: #333;
    color: #ccc;
    border-color: #428bca;
}
.glyphicon {
    margin-top: 4px;
    margin-right: 4px;
  }
.invalid-feedback{
    color: #d9534f;
    font-size: x-large;

  }