{% extends "base.html" %}
{% block content %}


    <div class="jumbotron">
        <h1 class="display-4">Votre demande a bien été prise en compte.</h1>
        <p class="lead">
        Les documents que vous avez réservés pourront être retirés à la bibliothèque {{ pickup_loc.name }} le {{ date_rdv_in_date|date:"l d F Y" }} à {{ date_rdv_in_date|date:"H:i" }} h, sur présentation de votre carte Aquipass ou carte de bibliothèque.
        </p>
        {% if pickup_loc.mesage %}
        <p class="lead">{{ pickup_loc.message }}</p>
        <p class="lead">En cas d’empêchement, merci de contacter la bibliothèque par téléphone au {{ pickup_loc.tel }} du lundi au vendredi, de 9h à 17h, afin de convenir d’un autre créneau.</p>
        {% endif %}
        <hr class="my-4">
        {% if other_cart_list|length > 0 %}
        <p>Mais ce n'est pas fini ! Vous avez réservé des documents dans d'autres bibliothèques. Merci de valider le(s) panier(s) restant(s).</p>
        {% for cart in other_cart_list %}
        <a class="btn btn-primary btn-lg" href="{% url 'cart-validation' cart.pickuplocation %}" role="button">{{ cart.pickuplocation__name }}
                <span class="badge badge-light">{{ cart.total }}</span>
        </a>
        {% endfor %}
        {% else %}
        <p>Vous pouvez reprendre une activité normale</p>
        <a class="btn btn-primary btn-lg" 
        href="https://babordplus.hosted.exlibrisgroup.com/primo-explore/search?vid=33PUDB_{{ institution_id }}_VU1&sortby=rank&lang=fr_FR&forceLogin=true" role="button">
        Retourner sur Babord +
        </a>
        {% endif %}
    </div>
{% endblock %}