{% extends "base.html" %}
{% block title %}{{ identifiant }}{% endblock %}
{% block content %}
<div class="container">
        <div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-5">Les documents que vous avez sélectionné appartiennent à différentes bibliothèques et sont à retirer à différents guichets.</b></h2>
        </div>
                <div class="jumbotron">
                <p class="lead">Vous devez valider indépendamment chaque panier et sélectioner une plage de rendez-vous pour chaque bibliothèque.</p>
                <hr class="my-4">
                        {% for cart_id, cart in user_carts.items %}
                        <a class="btn btn-primary btn-lg" href="{% url 'cart-validation' cart_id %}" role="button">{{ cart.name }}
                                <span class="badge badge-light">{{ cart.user_request_list|length }}</span>
                                </a>
                        {% endfor %}
                </div>
</div>
{% endblock %}