{% extends "base.html" %}
{% block title %}{{ identifiant }}{% endblock %}
{% block content %}
<div class="container">
        <div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-5">Vous n'avez aucune demande de documents à valider ou les bibliothèques pour lesquels vous avez réservé des documents ne proposent pas la prise de rendez-vous sur cette plateforme.</b></h2>
        </div>
                <div class="jumbotron">
                <p class="lead">Pour les bibliothèques du CRD vous pouvez prendre rendez-vous sur <a href="https://rendezvous.u-bordeaux.fr/" >l'application de prise de rendez-vous de l'université de Bordeaux</a>. 
                Pour les autres établissements, vous serez contactés lorsque votre comande sera prête.</p>
                </div>
</div>
{% endblock %}